@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.mobile-container {
    background-color: #FFFFFF;
    box-shadow: 0 0 2px #3333331A;
    border-radius: 3px;
    overflow: hidden;
    width: 400px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 2rem;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-family: inherit;
}

header button {
    background-color: transparent;
    border: none;
    color: rgb(138, 129, 141);
    font-size: 1.5rem;
    margin-left: 10px;
}


/* Favorite Container*/
.fav-container {
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    padding: 0.25rem 1rem;
    text-align: center;
}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li {
    cursor: pointer;
    position: relative;
    margin: 5px;
    width: 75px;
}

.fav-meals li .clear {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 1.2rem;
}

.fav-meals li:hover .clear {
    opacity: 1;
}

.fav-meals li img {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 0 10px #3333331A;
    object-fit: cover;
    height: 75px;
    width: 75px;
}

.fav-meals li span {
    font-size: 0.9rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}

/* Filter Container */
.filter-container {
    /* padding: 0.25rem 1rem; */
    text-align: center;
}

.filter-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.filter-controls li {
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 5px;
    width: 80px;
}

.filter-controls li span {
    font-size: 0.8rem;
    display: inline-block;
    width: 80px;
}


/* Meal */
.meal {
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
    border-radius: 3px;
    box-shadow: 0 0 10px #0c0c0c4a;
    margin: 1.5rem;
    overflow: hidden;
    cursor: pointer;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: gray;
    cursor: pointer;
}

.meal-body .fav-btn.active {
    color: rebeccapurple;
}

.control-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.btn-refresh {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: gray;
    cursor: pointer;
}

/* Popup Container */
.popup-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popup-container.hidden {
    opacity: 0;
    /* Set up to no click zone for event */
    pointer-events: none;
}

.popup {
    background-color: #FFFFFF;
    padding: 0 2rem;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    position: relative;
    overflow: auto;
    max-height: 100vh;
    max-width: 600px;
    width: 100%;
}

.popup .close-popup {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.meal-info h1 {
    text-align: center;
}

.meal-info img {
    max-width: 100%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}

/* Select Popup Container*/
.select-popup-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.select-popup-container.hidden {
    opacity: 0;
    /* Set up to no click zone for event */
    pointer-events: none;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.options li {
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 5px;
    width: 80px;
}

.options li span {
    font-size: 0.8rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    width: 80px;
}